@model ACME.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="body-content">
    <div class="details-body-wrapper">
        <div class="details-body-info-block">
            <div class="product-image-wrapper">
                <img class="product-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" />
            </div>
            <div class="product-info-wrapper">
                <h2>@Model.Name</h2>
                <div class="hr-dark"></div>
                <p>
                    @Model.Description
                </p>
                <span class="category-text">Category: @Model.Category</span>
            </div>
        </div>
        <div class="details-body-cart-block">
            <h2>R @string.Format("{0:0.00}", (decimal)Model.Price)</h2>
            <div class="hr-dark"></div>
            <input type="hidden" id="stock" value="@ViewBag.Stock" />
            <input type="hidden" id="prod-id" value="@Model.ProductCode" />
            <span class="stock-text">@ViewBag.Stock left in stock</span>

            @if (ViewBag.Stock > 0)
            {
                @if (ViewBag.IsLoggedIn != true)
                {
                    // Not logged in
                    <div class="log-in-text-wrapper">
                        <span class="log-in-text">Please log in to add to cart</span>
                    </div>
                }
                else
                {
                    // Logged in
                    if (ViewBag.UserType == 2)
                    {
                        // Customer
                        <div class="quantity-wrapper">
                            <input type="number" class="quantity-input form-input" id="qty" value="1" min="1" max="@ViewBag.Stock" />
                        </div>
                        <button id="add-to-cart-button" class="form-button add-to-cart-button">Add to cart</button>
                    }

                }
            }

            @if (ViewBag.UserType == 1)
            {
                //Employee
                <div class="quantity-wrapper">
                    @*<input type="number" class="quantity-input form-input" id="qty" value="1" min="1" max="100" />*@
                    @*Unlimited for now while testing*@
                    <input type="number" class="quantity-input form-input" id="qty" value="1" />
                </div>
                <button id="restock-button" class="form-button add-to-cart-button">Restock</button>

            }

        </div>
    </div>
</div>

<script>
    var stockCount = $('#stock').val();
    var stockText = $('.stock-text');
    var color = "";
    if (stockCount < 5) {
        color = "red";
    } else {
        color = "green";
    }
    $(stockText).css("color", color);

    $('#restock-button').click((evt) => {
        var prodID = $('#prod-id').val();
        var qty = $('#qty').val();
        $.ajax({
            method: "POST",
            url: '/Stock/Restock',
            data: {
                ProductCode: prodID,
                Quantity: qty
            },
            success: (res) => {
                location.reload();
            }
        });
    });

    $('#add-to-cart-button').click(() => {
        var prodID = $('#prod-id').val();
        var qty = $('#qty').val();
        $.ajax({
            method: "POST",
            url: '/ShoppingCart/Add',
            data: {
                ProductCode: prodID,
                Quantity: qty
            },
            success: (res) => {
                location.reload();
            }
        });
    });

</script>
